body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** Main Style **/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/** "Header" Style **/
header {
  border-bottom: 1px solid #A7A7A7;
  box-shadow: 0px 5px 10px 1px #A7A7A7;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

header h1 {
  margin: 0 0 0 15px;
  padding: 0;
  font-family: 'Alegreya SC';
}

nav {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

/** Link Style **/
.btn {
  background-color: #5a6f08;
  border: 2px solid transparent;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background-color: white;
  color: #5a6f08;
  border: 2px solid #5a6f08;
  cursor: pointer;
}